<a href="https://colab.research.google.com/github/Christelleelkhoury/AAI614_-ElKhoury-/blob/main/Complex_Queries_and_Aggregations_in_MongoDB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
pip install pymongo

Requirement already satisfied: pymongo in /usr/local/lib/python3.11/dist-packages (4.11)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.11/dist-packages (from pymongo) (2.7.0)

In [19]:
from pymongo import MongoClient

# Replace with your own connection string
connection_string = "mongodb+srv://christelleelkhoury:wCjkSnPEBpqb4Riu@cluster0.jqola.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Connect to the MongoDB Atlas cluster
client = MongoClient(connection_string)

# Access a specific database
db = client['ecommerce2']

# Access a collection within the database
collection = db['products']

In [40]:
products_cursor = collection.find({})

# Print all products to see the data
for product in products_cursor:
    print(product)

{'_id': ObjectId('679ebea8b32e83b055eae193'), 'order_id': '001', 'customer': {'name': 'John Doe', 'email': 'john.doe@example.com'}, 'items': [{'product': 'Laptop', 'quantity': 1, 'price': 1000}, {'product': 'Mouse', 'quantity': 2, 'price': 50}], 'order_date': '2024-01-15', 'status': 'shipped', 'total': 1100}
{'_id': ObjectId('679ed52cb32e83b055eae1b0'), 'order_id': '002', 'customer': {'name': 'Jane Smith', 'email': 'jane.smith@example.com'}, 'items': [{'product': 'Laptop', 'quantity': 1, 'price': 500}, {'product': 'Mouse', 'quantity': 1, 'price': 50}], 'order_date': '2024-01-20', 'status': 'shipped', 'total': 300}

In [46]:
task1 = collection.find(
    {
        "customer.name": "John Doe",
        "total": { "$gt": 500 }
    },
    { "_id": 0, "order_id": 1, "total": 1 }
)
for product in task1:
    print(product)

{'order_id': '001', 'total': 1100}

In [49]:
task2 = collection.find(
    {},
    {"_id": 0, "order_id": 1, "order_date": 1, "total": 1}
).sort([("order_date", -1), ("total", 1)])

for product in task2:
    print(product)

{'order_id': '002', 'order_date': '2024-01-20', 'total': 300}
{'order_id': '001', 'order_date': '2024-01-15', 'total': 1100}

In [53]:
 #Task3

 pipeline = [
    {
        "$unwind": "$items"  # Deconstruct the items array
    },
    {
        "$group": {
            "_id": "$items.product",  # Group by product name
            "totalSales": {
                "$sum": {
                    "$multiply": ["$items.quantity", "$items.price"]  # Calculate total revenue
                }
            }
        }
    }
]

# Execute the aggregation query
task3 = collection.aggregate(pipeline)

# Print the results
for result in task3:
    print(result)

{'_id': 'Laptop', 'totalSales': 1500}
{'_id': 'Mouse', 'totalSales': 150}

In [54]:
#task4
pipeline = [
    {
        "$group": {
            "_id": "$customer.name",  # Group by customer name
            "averageOrderValue": {
                "$avg": "$total"  # Calculate average of the total order value
            }
        }
    }
]

# Execute the aggregation query
task4 = collection.aggregate(pipeline)

# Print the results
for result in task4:
    print(result)

{'_id': 'John Doe', 'averageOrderValue': 1100.0}
{'_id': 'Jane Smith', 'averageOrderValue': 300.0}

In [56]:
#task5

pipeline = [
    {
        "$unwind": "$items"  # Deconstruct the items array to work with individual items
    },
    {
        "$group": {
            "_id": "$items.product",  # Group by product name
            "totalQuantitySold": {
                "$sum": "$items.quantity"  # Sum the quantities for each product
            }
        }
    },
    {
        "$sort": {
            "totalQuantitySold": -1  # Sort by totalQuantitySold in descending order
        }
    }
]

# Execute the aggregation query
task5 = collection.aggregate(pipeline)

# Print the results
for result in task5:
    print(result)

{'_id': 'Mouse', 'totalQuantitySold': 3}
{'_id': 'Laptop', 'totalQuantitySold': 2}